.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Стили для формы регистрации заказчика */

.customer-registration-form {
  max-width: 400px;
  margin: 0 auto;
}

.customer-registration-form .ant-form-item {
  margin-bottom: 20px;
}

.customer-registration-form .ant-form-item-label {
  text-align: left;
}

.customer-registration-form .ant-form-item-control {
  line-height: 1.5;
}

.customer-registration-form .ant-btn {
  width: 100%;
}

/* Стили для формы регистрации исполнителя */

.executor-registration-form {
  max-width: 400px;
  margin: 0 auto;
}

.executor-registration-form .ant-form-item {
  margin-bottom: 20px;
}

.executor-registration-form .ant-form-item-label {
  text-align: left;
}

.executor-registration-form .ant-form-item-control {
  line-height: 1.5;
}

.executor-registration-form .ant-select {
  width: 100%;
}

.executor-registration-form .ant-btn {
  width: 100%;
}

/* Стили для формы авторизации */

.login-form {
  max-width: 400px;
  margin: 0 auto;
}

.login-form .ant-form-item {
  margin-bottom: 20px;
}

.login-form .ant-form-item-label {
  text-align: left;
}

.login-form .ant-form-item-control {
  line-height: 1.5;
}

.login-form .ant-btn {
  width: 100%;
}

.site-layout {
    margin: 0px 300px;
    height: max-content;
    max-width: 1200px;
    background: #fff;
}

.task_tags {
  margin-top: 10px;
}

.student_tags {
  margin-top: 10px;
}